body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

  /* background-position: center center; */
}

/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
h1{
  margin-bottom: 18px;
  font-size: 24px;
}
h2{
  margin-top: 18px;
}
#fileImages {
  margin-top: 12px;
}
.button_father{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 16px;
}
.button_click{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color .35s ease-in, outline-color 0.5s ease-in-out;
  border: 2px solid #000;
    outline: 2px solid transparent;
}

.button_click:hover{
  background-color: #3399fe;
  border: 2px solid transparent;
  outline: 2px solid greenyellow; 
}
.active-file-father{
  position: absolute;
  right: 0;
  bottom: 24px;
}
.active-file{
  
  width: 86px;
}
.image-input{
  margin-top: 12px;
}
#image_size_add{
  margin-top: 12px;
}